body { 
    padding: 30px;
}

p {
    font-size: 1.2rem;
}

h1 {
    letter-spacing: .2rem;
}

div.center {
    margin: auto;
    text-align: center;
}

div.columns {

}

hr.yellow {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #F7B869;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
    width: 70%;
}

div.art {
    text-align: center;
    padding: 30px; 
}

div.art img {
    padding:30px;
    width: 150px;
    height: auto;
}

.fouricons {
    width: 80% !important;
}

.logo {
    text-align: center;
}

.logo svg {
    width: 75%;
    height: auto;    
}

.bluebox {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bluebox p.citation {
    font-style: italic;
    margin: auto;
    text-align: center;
    font-size: .8em;
    padding: 30px;
    width: 60%;
}

.bluebox,
.bluebox h1,
.bluebox h2,
.bluebox h3,
.bluebox h4 {
    background-color: #0AAFDA;
    color: #fff;
}

.bluebox h1,
.bluetext h1 {
    background-image: url('../img/hline.png');
    background-repeat: repeat-x;
    background-position: center;
}

h1,h2,h3,h4 {
    clear:both;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.bluebox h1 span.nobg {
    background-color: #0AAFDA;
    padding: 20px;
}

.bluetext h1 span.nobg {
    background-color: #fff;
    padding: 20px;
}

.lineup {
    margin-bottom: 30px;
    margin: auto;
    width: 60%;
    text-align: center;
}

.lineup div {
    line-height: 1.5em;
    display: inline;
    padding:10px;
    background-image:url('../img/orange_dot.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5px;
    padding-left: 15px;    
}

.lineup div.first {
    background:none;
}

div.bluetext h1,
div.bluetext h2,
div.bluetext h3,
div.bluetext h4,
div.bluetext p {
    color:#0aafda;
}

div.bluetext .lineup {
    color: #0aafda;
}

h1,h2,h3,h4 {
    font-family: 'KaufmannBT-Bold', Sans-Serif;
}

h1 span.red,
h2 span.red,
h3 span.red { color: #E54047; }
h1 span.yellow { color: #F9B668; }
h1 span.blue { color: #18AFDA; }

span.red { color: #E54047; }
span.yellow { color: #F9B668; }
span.blue { color: #18AFDA; }


.row.fullwidth {
    max-width: 3000px;
}

img.headshot {
    width: 200px;
    height: auto;
    float:left;
    margin-right: 10px;
}

div.bio {
    clear:both;
    min-height: 300px;
}

#topborder, #bottomborder, #leftborder, #rightborder {
	background: #a5ebff;
	position: fixed;
	}
	#leftborder, #rightborder {
        background: #E54046;
		top: 0; bottom: 0;
		width: 30px;
		}
		#leftborder { left: 0; }
		#rightborder { right: 0; }
		
	#topborder, #bottomborder {
        background: #0AAFDA;
		left: 0; right: 0;
		height: 30px;
		}
		#topborder { top: 0; }
		#bottomborder { bottom: 0; }


.orderform {
    border-top: 3px solid #E54047;
    padding-top: 20px;

}

@media (min-width: 321px) {
    img.mobilelogo {
        display: none;
        visibility: hidden;
    }
    
    img.desktoplogo {
        width:75%;
    }
    
    div.row {
        padding: 30px;
    }
    
    .logo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    
    .logofloat {
        text-align: left;
        width: 60%
    }
    
    .logocontact {
        text-align: left;
        margin-right: 50px;
        width: 40%;
        padding-right: 50px;
    }
    
    .logocontact h3 {
        text-align: left;
        padding: 0px;
    }
    
    .logocontact p {
        font-size: 1rem;
    }
}

@media (min-width: 769px) {
    .logofloat {
        text-align: left;
        width: 75%
    }
    
    .logocontact {
        text-align: left;
        margin-right: 50px;
        width: 25%;
        padding-right: 50px;
    }
}


@media (max-width: 320px) {
    body { padding: 0px; padding-top:20px; }
    img.desktoplogo {
        display: none;
        visibility: hidden;
    }
    
    .row {
        padding:10px;
    }

    .logocontact h3 {
        
        padding: 0px;
        margin: 0px;
        margin-top: 30px;
    }    
    
    .logo {
    
        display: block;
    }
    
    .row.fullwidth {
        width: 320px;
        margin:0px;
        padding:10px;
    }

    .lineup {
        margin-bottom: 30px;
        margin: auto;
        width: 90%;
        text-align: left;
    }

    .lineup div {
        line-height: 1rem;
        display: block;
        padding:10px;
        background-image:url('../img/orange_dot.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 5px;
        padding-left: 15px;    
    }

    .lineup div.first {
        background-image:url('../img/orange_dot.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size: 5px;
    }
    
    div.art {
        text-align: center;
        padding: 10px; 
    }

    div.art img {
        padding: 10px;
        width: 200px;
        height: auto;
    }

    .fouricons {
        width: 95% !important;
    }

    img.headshot {
        width: 320px;
        height: auto;
        float:none;
        margin-bottom: 10px;
    }    
    
    #topborder, #bottomborder, #leftborder, #rightborder {
        background: #a5ebff;
        position: fixed;
        }
        #leftborder, #rightborder {
            background: #E54046;
            top: 0; bottom: 0;
            width: 10px;
            }
            #leftborder { left: 0; }
            #rightborder { right: 0; }

        #topborder, #bottomborder {
            background: #0AAFDA;
            left: 0; right: 0;
            height: 10px;
            }
            #topborder { top: 0; }
            #bottomborder { bottom: 0; }
    
}
